USE [TaskManagementDB]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [nvarchar](200) NULL,
	[TaskDescription] [nvarchar](max) NULL,
	[TaskDueDate] [date] NULL,
	[TaskStatus] [nvarchar](50) NULL,
	[TaskRemarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastUpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTask]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTask]
(
 @TaskId INT
)
AS
BEGIN
 DELETE FROM Tasks WHERE TaskId=@TaskId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTaskById]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTaskById]
(
    @TaskId INT
)
AS
BEGIN
    SELECT * FROM Tasks WHERE TaskId = @TaskId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTasks]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTasks]
AS
BEGIN
 SELECT * FROM Tasks
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTask]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTask]
(
    @TaskTitle NVARCHAR(200),
    @TaskDescription NVARCHAR(MAX),
    @TaskDueDate DATE,
    @TaskStatus NVARCHAR(50),
    @TaskRemarks NVARCHAR(500),
    @CreatedBy INT
)
AS
BEGIN
    INSERT INTO Tasks
    (
        TaskTitle,
        TaskDescription,
        TaskDueDate,
        TaskStatus,
        TaskRemarks,
        CreatedBy
    )
    VALUES
    (
        @TaskTitle,
        @TaskDescription,
        @TaskDueDate,
        @TaskStatus,
        @TaskRemarks,
        @CreatedBy
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
(
    @UserName NVARCHAR(100)
)
AS
BEGIN
    SELECT UserId, UserName
    FROM Users
    WHERE UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchTask]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchTask]
    @SearchText NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.TaskId,
        t.TaskTitle,
        t.TaskDescription,
        t.TaskDueDate,
        t.TaskStatus,
        t.TaskRemarks,

        t.CreatedBy     AS CreatedById,
        t.LastUpdatedBy AS LastUpdatedById,   -- ✅ IMPORTANT

        t.CreatedOn,
        t.LastUpdatedOn,

        u1.UserName AS CreatedByName,
        u2.UserName AS LastUpdatedByName

    FROM Tasks t
    LEFT JOIN Users u1 ON t.CreatedBy = u1.UserId
    LEFT JOIN Users u2 ON t.LastUpdatedBy = u2.UserId

    WHERE 
        t.TaskTitle LIKE '%' + @SearchText + '%'
        OR t.TaskDescription LIKE '%' + @SearchText + '%'
        OR t.TaskStatus LIKE '%' + @SearchText + '%'
        OR t.TaskRemarks LIKE '%' + @SearchText + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTask]    Script Date: 12/30/2025 2:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTask]
(
    @TaskId INT,
    @TaskTitle NVARCHAR(200),
    @TaskDescription NVARCHAR(MAX),
    @TaskDueDate DATE,
    @TaskStatus NVARCHAR(50),
    @TaskRemarks NVARCHAR(500),
    @LastUpdatedBy INT,
    @LastUpdatedOn DATETIME
)
AS
BEGIN
    UPDATE Tasks
    SET
        TaskTitle = @TaskTitle,
        TaskDescription = @TaskDescription,
        TaskDueDate = @TaskDueDate,
        TaskStatus = @TaskStatus,
        TaskRemarks = @TaskRemarks,
        LastUpdatedBy = @LastUpdatedBy,
        LastUpdatedOn = @LastUpdatedOn
    WHERE TaskId = @TaskId
END
GO
